header {
  height: 100vh;
  padding-top: 7em;
  overflow: hidden;
}

.headerContainer {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.headerSocials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

/* vertical bar */
.headerSocials::after {
  content: '';
  height: 2rem;
  width: .1rem;
  background: var(--bdr-color2);
}

/* main photo */
.me {
  background: linear-gradient(var(--bdr-color1), transparent);
  width: 22rem;
  height: 21rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

/* scroll down to contact*/

.scroll-down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 1rem;
}

/* media queries medium devices */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* media queries small devices */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .headerSocials,
  .scroll-down {
    display: none;
  }
}